/* CSS selector for HTML tag */
body {
    background-color: wheat;
}

/* CSS class */
.my-class {
    color: darkcyan;
    font-size: 20px;
}

/* CSS id */
#my-id {
    color:brown;
    text-align: center;
    font-weight: bold;
}

a:hover{
    color : green;
}

.section {
    margin: 20px;
    padding: 20px;
}

#profile-picture{
    width: 200px;
    height: 200px;
}

body {
    color: wheat;
}