body {
    background-color: wheat;
}

.my-class {
    color: darkcyan;
    font-size: 20px;
}

#my-id {
    color:brown;
    text-align: center;
    font-weight: bold;
}

a:hover{
    color : green;
}

.section {
    color : black;
    margin: 20px;
    padding: 20px;
}

#profile-picture{
    width: 200px;
    height: 200px;
}

body {
    color: wheat;
}